<%= form_for(@task, html: {class: "form-horizontal"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field form-group">
      <%= f.label :task, :class => 'col-sm-1 control-label' %>
      <div class="col-sm-3">
        <%= f.text_field :task, :class => "form-control"%>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :due_date, :class => 'col-sm-1 control-label' %>
      <div class="col-sm-3">
        <%= f.date_field :due_date, :class => "col-sm-10 form-control" %>
      </div>
    </div>
    <% if @new_task == false %>
    <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="checkbox">
        <label>
          <%= f.check_box :complete  %> Complete
        </label>
      </div>
    </div>
  </div>
  <% else %>
  <% @task.complete = false %>
  <%end%>

  <div class="actions col-sm-offset-1">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  <br>
<% end %>
