<% if notice != nil %>
  <p class="alert alert-success" id="notice"><%= notice  %></p>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li><%= link_to "Tasks", project_tasks_path %></li>
  <li class="active">Show</li>
</ol>

<p>
  <strong>Task:</strong>
  <%= @task.task %>
</p>
<p>
  <strong>Due Date:</strong>
  <% if @task.due_date %>
    <%= @task.due_date.strftime("%B %e %Y") %>
  <% else %>
    None
  <% end %>
</p>
<p>
  <strong>Complete?</strong>
  <%= @task.complete %>
</p>

<br>
<% @comments.each do |comment| %>
  <%= comment.description %>
  <%= comment.created_at %>
<% end %>
<% if current_user %>
  <%= form_for [@project, @task, @comment] do |f| %>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.submit %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_project_task_path(@project, @task)%> |
<%= link_to 'Back', project_tasks_path %>
