<% if notice != nil %>
  <p class="alert alert-success" id="notice"><%= notice  %></p>
<% end %>


<p>
  <strong>Task:</strong>
  <%= @task.task %>
</p>
<p>
  <strong>Due Date:</strong>
  <% if @task.due_date %>
    <%= @task.due_date.strftime("%B %e %Y") %>
  <% else %>
    None
  <% end %>
</p>
<p>
  <strong>Complete?</strong>
  <%= @task.complete %>
</p>

<%= link_to 'Edit', edit_project_task_path(@project, @task)%> |
<%= link_to 'Back', project_tasks_path %>
