<% if notice != nil %>
  <p class="alert alert-success" id="notice"><%= notice  %></p>
<% end %>
<div class="page-header">
  <% if current_user.id == @user.id %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-warning btn-sm" %>
    </div>

  <% end %>
  <h1><%= @user.full_name %></h1>
</div>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%= link_to 'Back', users_path %>
