<!DOCTYPE html>
<html lang="en">


  <body class="background_image">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron text-center transparent">
      <div class="container">
        <h1>gCamp</h1>
        <p>Your life, organized</p>
        <!--<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>-->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "floating_mac.jpg", class: "img-responsive" %>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">Tasks</h2>
            </div>
            <div class="panel-body">
              <p>Grouped by projects and lists. Just the way you like 'em</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <%= image_tag "hipster.jpg", class: "img-responsive" %>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">Documents</h2>
            </div>
            <div class="panel-body">
              <ul>
                <li>Upload</li>
                <li>Comment</li>
                <li>Revise</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <%= image_tag "dude.jpg", class: "img-responsive" %>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">Comments</h2>
            </div>
            <div class="panel-body">
              <ul>
                <li>Comment on tasks and documents</li>
                <li>Get e-mail notification</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    <div>
    <% @quotes.each do |quote| %>
      <p><%= quote.text %></p>
      <p><%= quote.author %> </p>
    <%end%>
  </div>

  </body>
</html>
