<% if notice != nil %>
  <p class="alert alert-success" id="notice"><%= notice  %></p>
<% end %>

<div class="page-header">
  <div class="pull-right">
    <%= link_to "New Project", new_project_path, class: "btn btn-primary" %>
  </div>
  <h1>Projects</h1>
</div>

<table class="table">
  <thead>
    <th>Project</th>
    <th>Members</th>
    <th>Tasks</th>
  </thead>
  <tbody>
    <% current_user.memberships.each do |member| %>
        <tr>
          <td class="col-md-4"><%= link_to member.project.name, project_path(member.project) %></td>
          <td><%= link_to member.project.memberships.count, project_memberships_path(member.project) %></td>
          <td><%= link_to member.project.tasks.count, project_tasks_path(member.project) %></td>
        </tr>
    <% end %>
  </tbody>
</table>


  <hr>
