<% if notice != nil %>
  <p class="alert alert-success" id="notice"><%= notice  %></p>
<% end %>

<div class="page-header">
  <div class="pull-right">
    <%= link_to "Edit", edit_project_path(@project), class: "btn btn-warning" %>
    <%= link_to "Delete", project_path(@project), class: "btn btn-danger", :method => :delete, data: {confirm: "Are you sure?"} %>
  </div>
  <h1><%= @project.name %></h1>
</div>
  <ol class="breadcrumb">
    <li><%= link_to "Projects", projects_path %></li>
    <li class="active">Show</li>
  </ol>

  <p>
  <%= link_to pluralize(@project.tasks.count, "Task"), project_tasks_path(@project) %>
  </p>
  <p>
  <%= link_to pluralize(@project.users.count, "Member"), project_memberships_path(@project) %>
  </p>


<br>
<br>
<%= link_to "back", projects_path, class: "btn btn-primary" %>
